In [1]:
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

JPL Mars Space Images - Featured Image

In [3]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [4]:
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [5]:
more_info_elem = browser.find_link_by_partial_text('more info')
more_info_elem.click()

In [6]:
html = browser.html
image_soup = BeautifulSoup(html, 'html.parser')

In [7]:
image_url = image_soup.find('figure', class_='lede')
image_url_new=image_url.img['src']

In [8]:
featured_image_url=f'https://www.jpl.nasa.gov{image_url_new}'
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16565_hires.jpg'

Mars Weather

In [9]:
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [10]:
url="https://twitter.com/marswxreport?lang=en"
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [11]:
tweet=soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text',\
                    attrs={"lang":"en", "data-aria-label-part":"0"})

mars_weather=tweet.text
mars_weather

'Welcome Spring! (to @MarsCuriosity’s home in the southern hemisphere of Mars). May 22 at 1431 UTC Mars reached a solar longitude of 180° in its trip around the sunpic.twitter.com/bzbkEwvfE4'

Mars Facts

In [12]:
import pandas as pd

In [13]:
url = 'https://space-facts.com/mars/'
tables = pd.read_html(url)
len(tables)
# What we get in return is a list of dataframes for any tabular data that Pandas found. here there is only one table
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
df=tables[0]
df.columns = ['Planet Mars Parameters', 'Values']
df.set_index('Planet Mars Parameters', inplace=True)
df

                                               Values
Planet Mars Parameters
Equatorial Diameter:                         6,792 km
Polar Diameter:                              6,752 km
Mass:                   6.42 x 10^23 kg (10.7% Earth)
Moons:                            2 (Phobos & Deimos)
Orbit Distance:              227,943,824 km (1.52 AU)
Orbit Period:                    687 days (1.9 years)
Surface Temperature:                    -153 to 20 °C
First Record:                       2nd millennium BC
Recorded By:                     Egyptian astronomers

In [15]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Planet Mars Parameters</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [16]:
html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Planet Mars Parameters</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

Mars hemispheres

In [17]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [18]:
ori_url='https://astrogeology.usgs.gov'

In [19]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [21]:
results=soup.find_all('a',class_="itemLink product-item")
print(results[2])
print(results[3])

<a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"/></a>
<a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a>

In [22]:
# image_url[0].a.text
hemisphere_image_urls=[]

In [8]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [23]:
for result in results:
    #as there was duplication of paths, so this condition was used
    if(result.h3):
        text_hemisphere=result.h3.text
        title_list=text_hemisphere.split('Enhanced')
        title=title_list[0]
        print(title)
        
        image_link_url=result['href']
        new_url=ori_url + image_link_url
        
        url_img = new_url
        browser.visit(url_img)
        html_img = browser.html
        soup_img= BeautifulSoup(html_img, 'html.parser')
        
        image_urls=soup_img.find_all('div',class_='downloads')
        
        for imageurl in image_urls:
#             if(image_url.a.text=="Sample"):
                image_url=imageurl.a['href']
                    
                hemisphere_details = [{
                'title': title,
                'img_url': image_url}]
            
                
                hemisphere_image_urls.append(hemisphere_details)

Cerberus Hemisphere
Schiaparelli Hemisphere
Syrtis Major Hemisphere
Valles Marineris Hemisphere

In [24]:
hemisphere_image_urls

[[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
   'title': 'Cerberus Hemisphere '}],
 [{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
   'title': 'Schiaparelli Hemisphere '}],
 [{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
   'title': 'Syrtis Major Hemisphere '}],
 [{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
   'title': 'Valles Marineris Hemisphere '}]]